<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="searchItemcategory($event)" 
(event2)="searchItemModel($event)"  (event4)="searchItemSeries($event)">
  <span>
    <!-- <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button> -->
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    (cellClicked)=" onCellClicked($event)" 
    [myAgGridRowKey]="{tb:'PRODUCT_DEMAND'}" [myAgGridState]="'productdemand'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='columns' [expColumnsOptions]='expColumnsOptions' fileName="{{'产品需求跟踪' | translate}}" #excelexport>
  </custom-excelexport>
</nz-card>

