<custom-formquery 
    [enableWBSetting]="false" 
    [queryParams]="queryParams" 
    [context]="context"
    (event1)="searchItems($event)"
    (popupSelectTextChangedEvent)="onPopupSelectTextChanged($event)"
    (event2)="rowSelect($event)">
    <custom-button text="{{ '数据刷新' | translate }}" [src]="'基础icon-刷新'" (clickEvent)="dataRefresh()"></custom-button>
    <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
    <custom-button text="{{ '发布' | translate }}" [src]="'基础icon-修改'" (clickEvent)="publish()"></custom-button>
</custom-formquery>
<nz-card>
    <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridState]="'item-repssource-energy-optimize'" [myAgGridRowKey]="{tb:'PS_ITEM_REPSSOURCE_ENERGY_OPTIMIZE'}">
    </ag-grid-angular>
    <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
    <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='物料资源能耗标准值维护' #excelexport>
    </custom-excelexport>
</nz-card>