<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="onChangePlant($event)">
  <span>
    <custom-button text="{{ '配套计算' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '配套取消' | translate}}" (clickEvent)="removeBath()" [src]="'基础icon-删除'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>


<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridRowKey]="{tb:'PS_MO_MULTI_MOULD'}" [myAgGridState]="'momultimouldmmanage'">
  </ag-grid-angular>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='塑件电泳配套' #excelexport>
  </custom-excelexport>  
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
</nz-card>


<ng-template #customTemplate let-dataItem>

<nz-divider nzType="vertical"></nz-divider>
<span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认取消该记录?' | translate}}" (nzOnConfirm)="remove(dataItem);"
      class="pointer">
                              <i class="anticon anticon-delete"></i>
                          </span>
</ng-template>
