<div class="modal-header">
  <div class="modal-title">{{ (Istrue?'编辑信息':'新增信息') | translate}} {{ record.id }}</div>
</div>
<div *ngIf="Istrue" style=" margin:2px auto;">
  <button style="float: right;" nz-button nzType="dashed" (click)="clear()">
    {{ '重置' | translate}}</button>
  <div style="clear: both;"></div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=140>
    <se label="{{ '工厂' | translate}}" required>
      <nz-select #select [(ngModel)]="i.plantCode" nzShowSearch (ngModelChange)="onChangePlant($event)" name="plantCode" [disabled]="disabled1"
        required>
        <nz-option *ngFor="let o of optionListPlant" [nzValue]="o.plantCode" [nzLabel]="o.plantCode"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '卷材类型' | translate}}" required>
      <nz-select #select [(ngModel)]="i.burdeningType" nzShowSearch (ngModelChange)="onChangeAttribute($event)" name="burdeningType" [disabled]="disabled1"
        required>
        <nz-option *ngFor="let o of attributeOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    
    <se label="{{ '启用状态' | translate}}" required>
      <nz-select #select [(ngModel)]="i.enableFlag" nzShowSearch name="enableFlag" required>
        <nz-option *ngFor="let o of yesOrNoOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '工序编码' | translate}}" required>
      <popup-select #selProcess1 name="processCode" [ID]="'selProcess1'" [Value]="i.processCode" [Text]='i.processCode' [ValueField]="'processCode'" [TextField]="'processName'"
      [readOnly]="disabled1" [Disabled]="disabled1" [gridView]="gridViewProcess" [columns]="columnsProcess" (TextChanged)="onTextChangedProcess($event)"
      (SearchEvent)="searchPsProcess($event)" (RowSelect)="onRowSelectProcess($event)" [pageSize]="10000">
    </popup-select>
    </se>
    <se label="{{ '工序名称' | translate}}" required>
      <input type="text" nz-input [(ngModel)]="i.processName" name="processName" readonly="true" required [disabled]="disabled1">
    </se>    
    
    <se label="{{ '产品编码' | translate}}" required>
      <popup-select #selStock1 name="stockCode" [ID]="'selStock1'" [Value]="i.stockCode" [Text]='i.stockCode' [ValueField]="'stockCode'" [TextField]="'stockName'"
        [readOnly]="disabled1" [Disabled]="disabled1" [gridView]="gridViewStocks" [columns]="columnsStock" (TextChanged)="onTextChanged($event)"
        (SearchEvent)="searchPsProduction($event)" (RowSelect)="onRowSelect($event)">
      </popup-select>
    </se>
    <se label="{{ '产品名称' | translate}}" required>
      <input type="text" nz-input [(ngModel)]="i.stockName" name="stockName" readonly="true" [disabled]="disabled1">
    </se>
    <se label="{{ '产品规格' | translate}}" required>
      <!-- <input type="text" nz-input [(ngModel)]="i.standards" name="standards" required [disabled]="disabled1"> -->
      <nz-input-number [(ngModel)]="i.standards" [disabled]="disabled1" [nzMin]="0" [nzFormatter]="formatterPrecision" name="standards" required></nz-input-number>
    </se>    
    <se label="{{ '产品宽' | translate}}" required>
      <!-- <input type="text" nz-input [(ngModel)]="i.width" name="width" required [disabled]="disabled1"> -->
      <nz-input-number [(ngModel)]="i.width" [disabled]="disabled1" [nzMin]="0" name="width" required></nz-input-number>
    </se>    
    <se label="{{ '产品长' | translate}}" [required]="isBancai">
      <!-- <input type="text" nz-input [(ngModel)]="i.length" name="length" [required]="isBancai" [disabled]="disabled1"> -->
      <nz-input-number [(ngModel)]="i.length" [disabled]="disabled1" [nzMin]="0" name="length" required></nz-input-number>
    </se>    
    <se label="{{ '钢种' | translate}}" required>
      <nz-select #select [(ngModel)]="i.steelType"  nzShowSearch name="rateType" required [disabled]="disabled1">
        <nz-option *ngFor="let o of steelTypeOption" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '产品表面' | translate}}" required>
      <nz-select #select [(ngModel)]="i.surface" nzShowSearch name="surface" required [disabled]="disabled1">
        <nz-option *ngFor="let o of surfaceOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>


  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="f.invalid || !f.dirty" [nzLoading]="http.loading">
    {{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">
    {{ '关闭' | translate}}</button>
</div>
