<div class="content-title"  style="border:solid 0.5px rgba(115, 112, 117, 0.349);">
  <form nz-form #f="ngForm"  se-container="3">
    <se label="父订单号码">
      <input type="text" nz-input [(ngModel)]="i.REQ_NUMBER" readonly="readonly" name="REQ_NUMBER">
    </se>
    <se label="父订单行号">
      <input type="text" nz-input [(ngModel)]="i.REQ_LINE_NUM" readonly="readonly" name="REQ_LINE_NUM">
    </se>
    <se label="父订单数量">
      <input type="text" nz-input [(ngModel)]="i.REQ_QTY" readonly="readonly" name="REQ_QTY">
    </se>
    <se label="需求日期">
      <input type="text" nz-input [(ngModel)]="i.REQ_DATE" readonly="readonly" name="REQ_DATE">
    </se>
  </form>
</div>
<div></div>
<div class="content-title" style="border:solid 0.5px rgba(115, 112, 117, 0.349);">
  <nz-card>
    <kendo-grid #grid [data]="view | async" [height]="250" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
      [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (cellClick)="cellClickHandler($event)"
      (cellClose)="cellCloseHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)"
      (add)="addHandler($event)" [navigable]="true" [resizable]="true" [scrollable]="'virtual'" [selectable]="true">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>
          <i class="anticon anticon-plus-circle-o"></i>{{ '新增' | translate}}
        </button>      
      </ng-template>
      <kendo-grid-messages pagerPage="分页" pagerOf="的" pagerItems="总数" pagerItemsPerPage="页项" groupPanelEmpty="Drag here to group"
        noRecords="没有数据">
      </kendo-grid-messages>      
      <kendo-grid-command-column [style]="{'border-bottom': '1px solid #d9d9d9'}" title="操作" width="70">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
          <button kendoGridRemoveCommand>
            <i class="anticon anticon-delete"></i>
          </button>
          <button kendoGridSaveCommand>
            <i class="anticon anticon-check"></i>
          </button>
          <button kendoGridCancelCommand>
            <i class="anticon anticon-close"></i>
          </button>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column field="REQ_DATE" title="需求日期" [style]="{'border-bottom': '1px solid #d9d9d9'}" width="200" filter="date">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
          <kendo-datepicker [formControl]="formGroup.get('REQ_DATE')"></kendo-datepicker>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="REQ_QTY" title="需求数量" width="130" [style]="{'border-bottom': '1px solid #d9d9d9'}"></kendo-grid-column>
    </kendo-grid>
  </nz-card>
</div>
<div class="mb-md">
  <button style="float: right;"   [disabled]="disabled" nz-button (click)="saveChanges(grid);" [nzType]="'primary'">
    {{ '提交' | translate}}
  </button>
  <button style="float: right;" nz-button (click)="close()" class="mx-sm">
    {{ '取消' | translate}}
  </button>
  <div style="clear: both;"></div>
</div>
