<div class="modal-header">
  <div class="modal-title">{{ ('产能平衡') | translate}} </div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=100>
    <se label="{{ '计划组' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.scheduleGroupCode" name="scheduleGroupCode" readonly="true" [class.disabled]="true">
    </se>
    <se label="{{ '资源' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.resourceCode" name="resourceCode" readonly="true" [class.disabled]="true">
    </se>
    <se label="{{ '开始日期' | translate}}" required>
      <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="i.startCalendarDay" (ngModelChange)="changeStartDay($event)" name="START_CALENDAR_DAY"
        nzPlaceHolder="{{'请选择日期'| translate}}">
      </nz-date-picker>
    </se>
    <se label="{{ '开始时间' | translate}}" required>
      <nz-select [(ngModel)]="i.startTime" name="startTime" nzPlaceHolder="{{'请选择时间'| translate}}" required nzShowSearch>
        <nz-option *ngFor="let option of startTimeOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '结束日期' | translate}}" required>
      <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="i.endCalendarDay" (ngModelChange)="changeEndDay($event)" name="endCalendarDay"
        nzPlaceHolder="{{'请选择日期'| translate}}">
      </nz-date-picker>
    </se>
    <se label="{{ '结束时间' | translate}}" required>
      <nz-select [(ngModel)]="i.endTime" name="endTime" nzPlaceHolder="{{'请选择时间'| translate}}" required nzShowSearch>
        <nz-option *ngFor="let option of endTimeOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">{{ '关闭' | translate}}</button>
  <button nz-button type="submit" (click)="confirm()" [nzType]="'primary'" [disabled]="f.invalid">{{ '确定' | translate}}</button>
</div>
