<div class="custom-filter">
  <input type="text" [ngModel]="text" (ngModelChange)="onChange($event)" #filterInput placeholder="查询">
  <div class="filter-content">
    <span class="checkAll">
       <label
         nz-checkbox
         [(ngModel)]="allChecked"
         (ngModelChange)="updateAllChecked()"
         [nzIndeterminate]="indeterminate"
       >全选</label>
    </span>
    <div autoHeight [fixedHeight]="160">
      <!-- track all 横向、纵向滚动条 -->
      <ng-scrollbar track="all">
        <ul>
          <li *ngFor="let item of filterItems">
            <label
              nz-checkbox
              [(ngModel)]="item.checked"
              (ngModelChange)="updateSingleChecked()"
            >{{item.label}}</label>
          </li>
        </ul>
      </ng-scrollbar>
    </div>
  </div>
</div>
