<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">{{'登录' | translate}}-APS</span>
      </div>
      <div class="desc">{{'美云智数APS高级计划排程产品' | translate}}</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//www.meicloud.com" target="_blank">meicloud</a>
    </global-footer>
  </div>
</div>
