<div class="modal-header">
  <div class="modal-title">{{ '发货单明细信息' | translate }}</div>
</div>
<custom-formquery [queryParams]="queryParams" [context]="context">
  <!-- 只有已创建、已弃审状态的发货单允许新增和编辑发货单明细 -->
  <custom-button *ngIf="['10','40'].includes(invoiceBillState)" text="{{ '新增' | translate }}" [src]="'基础icon-新增'"
    (clickEvent)="add()"></custom-button>
  <!-- <custom-button text="{{ '删除' | translate }}" [src]="'基础icon-删除'" (clickEvent)="remove()"></custom-button> -->
  <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight-200" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridState]="'hw-invoice-order-detail'"
    [myAgGridRowKey]="{tb:'PS_INVOICE_BILL_DETAILED'}" (filterChanged)="onFilterChanged($event)">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [fixed]="false" [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='发货单明细' #excelexport>
  </custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <div *ngIf="!dataItem.isBottomRowData">
    <!-- 仅待审批和驳回状态可编辑，并且发货单状态为已创建、已弃审状态 -->
    <ng-container
      *ngIf="['10','40'].includes(invoiceBillState) && ['10','60'].includes(dataItem.state) && !dataItem.returnFlag">
      <span title="编辑" (click)="add(dataItem)" style="cursor: Pointer">
        <i class="anticon anticon-edit"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
        (nzOnConfirm)="remove(dataItem);" class="pointer">
        <i class="anticon anticon-delete"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-container>
    <span title="{{ '修改记录' | translate}}" style="cursor: Pointer" (click)="showChangeDetail(dataItem)">
      <img src="/assets/icons/operate-icons/history.svg" />
    </span>
  </div>
</ng-template>
