<form nz-form #f="ngForm" se-container="2">
    <se label="{{ '客户编码' | translate}}">
        <input nz-input [(ngModel)]="formData.cusCode" name="cusCode" disabled />
    </se>
    <se label="{{ '客户名称' | translate}}">
        <input nz-input [(ngModel)]="formData.cusName" name="cusName" disabled />
    </se>
    <se label="{{ '客户所属公司' | translate}}">
        <input nz-input [(ngModel)]="formData.plantCode" name="plantCode" disabled />
    </se>
    <se label="{{ '信用额度' | translate}}">
        <input nz-input [(ngModel)]="formData.credit" name="credit" disabled />
    </se>
    <se label="{{ '账户余额' | translate}}">
        <input nz-input [(ngModel)]="formData.balance" name="balance" disabled />
    </se>
    <se label="{{ '申请临时额度' | translate}}">
        <nz-input-number [(ngModel)]="formData.temCredit" [nzPrecision]="0" [nzMin]="0" name="temCredit" nzDisabled></nz-input-number>
    </se>
    <se label="{{ '备注' | translate}}">
      <textarea nz-input name="attribute1" [(ngModel)]="formData.attribute1" nzAutosize disabled></textarea>
    </se>
</form>