<!--Search-->
<!-- <layout-pro-search></layout-pro-search> -->
<!--Responsibility-->
<div [hidden]="hiddenWXQRCode">
  <!-- <layout-pro-qrcode></layout-pro-qrcode> -->
</div>
<!--Guide-->
<layout-pro-guide></layout-pro-guide>
<div [hidden]="ruleHidden">
<!--passWordRule-->
<password-rule></password-rule>
</div>
<layout-pro-responsibility></layout-pro-responsibility>
<!--Factory-->
<layout-pro-factory></layout-pro-factory>
<!--Notify-->
<layout-pro-notify></layout-pro-notify>
<!--User-->
<layout-pro-user></layout-pro-user>
<!--Languages-->
<!-- <pro-langs></pro-langs> -->
