<nz-select 
  #selectedValue="ngModel"
  [(ngModel)]="value" 
  [name]="name" 
  (nzScrollToBottom)="loadMore()" 
  (ngModelChange)="ngModelChange($event)" 
  [nzDisabled]="nzDisabled" 
  [required]="required"
  [nzCustomTemplate]="custom"
  nzShowSearch
  nzServerSearch
  [nzAllowClear]="!required"
  (nzOnSearch)="getData($event)">
  <ng-container *ngIf="isShowValue">
    <nz-option nzCustomContent *ngFor="let o of options" [nzValue]="o.value" [nzLabel]="o.label">
      <div class="option-container">
        <div class="option-main">{{o.value}}</div>
        <div class="option-sub">{{o.label}}</div>
      </div>
    </nz-option>
  </ng-container>
  <ng-container *ngIf="!isShowValue">
    <nz-option nzCustomContent *ngFor="let o of options" [nzValue]="o.value" [nzLabel]="o.label">
      {{o.label}}
    </nz-option>
  </ng-container>
  <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
  </nz-option>
  <ng-template #custom let-selected>
    <span>{{ isSelectedShowValue ? selected.nzValue : selected.nzLabel }}</span>
  </ng-template>
</nz-select>