<!--
 * @Author: Zwh
 * @contact: zhangweika@outlook.com
 * @Date: 2019-08-31 15:44:31
 * @LastEditors: Zwh
 * @LastEditTime: 2019-11-04 22:45:16
 * @Note: ...
 -->
<div class="modal-header">
  <div class="modal-title">{{ title }} 信息 </div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2">
    <se label="{{ '事业部' | translate}}" required>
      <nz-select #select nzShowSearch [(ngModel)]="i.businessUnitCode" name="businessUnitCode"
        required>
        <nz-option *ngFor="let option of scheduleregions" [nzLabel]="option.label" [nzValue]="option.value"
          [nzDisabled]="option.disabled"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '维度值' | translate}}" required>
      <input type="text" nz-input [(ngModel)]="i.custDivisionValue" name="custDivisionValue" required="required"
        [disabled]="readOnly">
    </se>
    <se label="{{ '维度名称' | translate}}" required>
      <input type="text" nz-input [(ngModel)]="i.custDivisionName" name="custDivisionName" required="required">
    </se>
    <se label="{{ '维度类型' | translate}}" required>
      <nz-select [(ngModel)]="i.custDivisionType" name="custDivisionType" required="required">
        <nz-option *ngFor="let option of divOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '父层类型' | translate}}">
      <nz-select [(ngModel)]="i.parentCustDivisionType" name="parentCustDivisionType"
        (ngModelChange)="divTypeChange($event)" nzAllowClear>
        <nz-option *ngFor="let option of divOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '父层值' | translate}}">
      <nz-select [(ngModel)]="i.pareatDivisionId" name="pareatDivisionId" nzAllowClear nzShowSearch
        (nzScrollToBottom)="downScroll($event)" (nzOnSearch)="downSearch($event)">
        <nz-option *ngFor="let option of valueOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '是否有效' | translate}}" required>
      <nz-select [(ngModel)]="i.enableFlag" name="enableFlag" nzAllowClear required="required">
        <nz-option *ngFor="let option of yesOrNo" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="!f.valid || !f.dirty"
    [nzLoading]="http.loading">{{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">{{ '关闭' | translate}}</button>
</div>