<div class="modal-header">
  <div class="modal-title"> {{ (Param.opertype || '编辑') | translate }} </div>
</div>
<div style="position: relative; height: 32px" *ngIf="!Param.opertype">
  <button nz-button nzType="dashed" style="position: absolute; right: 0;" (click)="clear()">重置</button>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">
  <div class="modal-footer">
    <button nz-button type="submit" [nzType]="'primary'" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">{{ '保存' | translate}}</button>
    <button nz-button type="button" (click)="close()">{{'关闭'| translate}}</button>
  </div>
</sf>
