<div class="modal-header" style="margin-bottom: 0;">
    <div class="modal-title">{{ '计划工厂' | translate }}</div>
</div>
<div>
    <custom-formquery [queryParams]="queryParams" [context]="context" [labelWidth]="100">
        <span>
            <custom-button text="{{ '新增' | translate }}" (clickEvent)="add()" [src]="'基础icon-新增'"></custom-button>
            <custom-button text="{{ '导出' | translate }}" (clickEvent)="exportFile()" [src]="'基础icon-导出'"></custom-button>
        </span>
    </custom-formquery>
    <nz-card>
        <ag-grid-angular
            #agGrid
            [class]="themeClass"
            [style.height.px]="gridHeight"
            [rowData]="gridData"
            [columnDefs]="columns"
            [gridOptions]="gridOptions"
            [myAgGridRowKey]="{tb:'PLANNING_PLANT'}"
            [myAgGridState]="'planningPlant'">
        </ag-grid-angular>
        <custom-pager
            [height]="pagerHeight"
            [context]="context"
            [view]='context.view'
            [(pageSize)]="_pageSize"
            [(pageNo)]="_pageNo"
            [fixed]="false"
            (pageChangeEvent)="onPageChanged($event)">
        </custom-pager>
        <custom-excelexport
            [expColumns]="expColumns"
            [expColumnsOptions]="expColumnsOptions"
            fileName="计划工厂"
            #excelexport>
        </custom-excelexport>
    </nz-card>
</div>

<ng-template #customTemplate let-dataItem>
    <span class="pointer" title="{{'需求' | translate}}" (click)="demand(dataItem)"><i nz-icon nzType="snippets" nzTheme="outline"></i></span>
    <nz-divider nzType="vertical"></nz-divider>
    <span class="pointer" title="{{'供应' | translate}}" (click)="supply(dataItem)"><i nz-icon nzType="inbox" nzTheme="outline"></i></span>
    <nz-divider nzType="vertical"></nz-divider>
    <span class="pointer" title="{{'运算参数' | translate}}" (click)="operationParameter(dataItem)"><i nz-icon nzType="control" nzTheme="outline"></i></span>
    <nz-divider nzType="vertical"></nz-divider>
    <span class="pointer" title="{{'参与MRP运算子库' | translate}}" (click)="mrpOperatorLibrary(dataItem)"><i nz-icon nzType="cluster" nzTheme="outline"></i></span>
    <nz-divider nzType="vertical"></nz-divider>
    <span class="pointer" title="{{'删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}" (nzOnConfirm)="remove(dataItem);"><i nz-icon nzType="delete" nzTheme="outline"></i></span>
</ng-template>
