<custom-formquery [queryParams]="queryParams" [context]="context">
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '保存' | translate}}" (clickEvent)="save()" [srcDisabled]="'btn_save_disabled'" [disabled]="!editService.hasChanges()"
        [src]="'btn_save'">
    </custom-button>
    <custom-button text="{{ '删除' | translate}}" (clickEvent)="removeBatch()" [src]="'基础icon-删除'">
    </custom-button>
</custom-formquery>
<nz-card>
    <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData" [columnDefs]="columns"
        [gridOptions]="gridOptions" [myAgGridRowKey]="{tb:'SOP_CONSUME_RULE'}" [myAgGridState]="'sop-reductionRuleManage'"
        (cellValueChanged)="onCellValueChanged($event)" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
    <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize" [(pageNo)]="_pageNo"
        (pageChangeEvent)="onPageChanged($event)"></custom-pager>
    <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='冲减规则维护' #excelexport>
    </custom-excelexport>
</nz-card>