<div class="modal-header">
  <div class="modal-title">{{ isModify ? '编辑信息' : '新增信息' | translate }}</div>
</div>
<div style="position: relative; height: 32px" *ngIf="isModify">
  <button nz-button nzType="dashed" style="position: absolute; right: 0;" (click)="clear()">{{'重置' | translate}}</button>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2">
    <se label="{{ '工厂' | translate }}" required>
      <nz-select nzShowSearch name="plantCode" [nzDisabled]="isModify" [(ngModel)]="i.plantCode" required>
        <nz-option *ngFor="let op of plantOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '产品大类' | translate }}" required>
      <nz-select nzShowSearch name="productCategory" [nzDisabled]="isModify" [(ngModel)]="i.productCategory" required>
        <nz-option *ngFor="let op of productCategoryOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '公差' | translate }}" required>
      <nz-select nzShowSearch name="allowance" [nzDisabled]="isModify" [(ngModel)]="i.allowance" required>
        <nz-option *ngFor="let op of gongchaOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '钢种' | translate }}" required>
      <nz-select nzShowSearch name="steelType" [nzDisabled]="isModify" [(ngModel)]="i.steelType" required>
        <nz-option *ngFor="let op of steelTypeOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '表面' | translate }}" required>
      <nz-select nzShowSearch name="surface" [nzDisabled]="isModify" [(ngModel)]="i.surface" required>
        <nz-option *ngFor="let op of surfaceOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '厚度下区间' | translate }}" required>
      <nz-input-number name="standardsDown" [(ngModel)]="i.standardsDown" required></nz-input-number>
    </se>
    <se label="{{ '厚度上区间' | translate }}" required>
      <nz-input-number name="standardsUp" [(ngModel)]="i.standardsUp" required></nz-input-number>
    </se>
    <se label="{{ '下差' | translate }}" required>
      <nz-input-number name="tolerance" [(ngModel)]="i.tolerance" required></nz-input-number>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">{{ '取消' | translate }}</button>
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f.value)" [nzLoading]="http.loading" [disabled]="f.invalid || !f.dirty">{{'保存' | translate }}</button>
</div>
