<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="plantCodeChanged($event)">
  <span>
    <custom-button text="{{ '保存' | translate}}" (clickEvent)="UpdateDN()" [src]="'基础icon-修改'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridRowKey]="{tb:'SP_SHIPMENT_NOTE'}"
    [myAgGridState]="'spShipmentNote'" (cellDoubleClicked)="onCellDoubleClicked($event)"
    (cellValueChanged)='onCellValueChanged($event)' (selectionChanged)="onSelectionChanged()">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='columns' fileName='DN单发运时段' #excelexport>
  </custom-excelexport>
</nz-card>
<ng-template #customTemplate1 let-dataItem>
  <span>
    <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="dataItem.shipmentDate">
    </nz-date-picker>
  </span>
</ng-template>
<ng-template #customTemplate2 let-dataItem>
  <span>
    <nz-date-picker nzFormat="yyyy-MM-dd" [(ngModel)]="dataItem.expectedDate">
    </nz-date-picker>
  </span>
</ng-template>
