<div class="modal-header">
  <div class="modal-title">{{ '配送单明细信息' | translate }}</div>
</div>
<custom-formquery [queryParams]="queryParams" [context]="context" >
  <!-- 配送单非已审核（已审核包括20,40,50,60,70）状态可以新增 -->
  <custom-button *ngIf="['20','40','50','60','70'].indexOf(deliveryState) === -1" text="{{ '新增' | translate }}" [src]="'基础icon-新增'" (clickEvent)="add()"></custom-button>
  <custom-button text="{{ '删除' | translate }}" [src]="'基础icon-删除'" (clickEvent)="remove()"></custom-button>
  <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight-200" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridState]="'hw-delivery-order-detail'"
    [myAgGridRowKey]="{tb:'PS_DELIVERY_ORDER_DETAILED'}">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize" [fixed]="false"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='配送单明细' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <div style="display: inline;" *ngIf="dataItem.state === '10' || dataItem.state === '20'">
    <span title="{{ '编辑' | translate}}" (click)="add(dataItem)" style="cursor: Pointer">
      <i class="anticon anticon-edit"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
      (nzOnConfirm)="remove(dataItem);" class="pointer">
      <i class="anticon anticon-delete"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span title="{{ '下发' | translate}}" nz-popconfirm nzTitle="{{ '是否确认下发该记录?' | translate}}"
      (nzOnConfirm)="issue(dataItem);" class="pointer">
      <i class="anticon anticon-arrow-down"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
  </div>
  <span title="{{ '修改记录' | translate}}" style="cursor: Pointer" (click)="showChangeDetail(dataItem)">
    <img src="/assets/icons/operate-icons/history.svg" />
  </span>
</ng-template>