span {
    font-size: 8px;
}

.icon {
    font-size: 13px;
}

.table_tr {
    height: 45px;
    padding-top: 5px;
}

.table_td_1 {
    width: 10%;
    padding-right: 10px;
}

.table_td_2 {
    width: 15%;
}

.table_from {
    width: 100%;
    height: 35px;
}

.components-table-demo-control-bar {
    margin-bottom: 10px;
}

.components-table-demo-control-bar ::ng-deep .ant-form-item {
    margin-right: 15px;
    margin-bottom: 8px;
}