<!-- 查询及头部按钮 -->
<custom-formquery [queryParams]="queryParams" [context]="context"
></custom-formquery>
<nz-card>
  <!-- 表格 -->
  <ag-grid-angular
    #agGrid
    id=""
    [class]="themeClass"
    [style.height.px]="gridHeight"
    [rowData]="gridData"
    [columnDefs]="columns"
    [gridOptions]="gridOptions"
    [myAgGridState]=""
    [myAgGridRowKey]="{ tb: 'PS_HW_MANUF_SPEC' }"
  >
  </ag-grid-angular>
  <!-- 分页系统 -->
  <custom-pager
    [height]="pagerHeight"
    [context]="context"
    [view]="context.view"
    [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo"
    (pageChangeEvent)="onPageChanged($event)">
  </custom-pager>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <span title="{{ '产线' | translate }}" (click)="viewLine(dataItem)" style="cursor: Pointer">
    <i class="anticon anticon-branches"></i>
  </span>
</ng-template>