<div class="modal-header">
    <div class="modal-title">{{ '编辑信息' | translate}}</div>
</div>
<div style="position: relative; height: 32px" *ngIf="i.Id">
    <button nz-button nzType="dashed" style="position: absolute; right: 0;" (click)="clear()">重置</button>
</div>
<div>
    <form nz-form #f="ngForm" se-container="2">
        <se label="{{ '工厂' | translate}}" required>
            <nz-select [(ngModel)]="i.plantCode" name="plantCode" nzShowSearch [nzDisabled]="true" required (ngModelChange)="plantChange($event)">
                <nz-option *ngFor="let option of plantoptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
        </se>
        <se label="{{ '类别代码' | translate}}" required>
            <input nz-input type="text" [(ngModel)]="i.categoryCode" name="categoryCode" required [disabled]="true">
        </se>
        <se label="{{ '送货区域' | translate}}" required>
            <nz-select [(ngModel)]="i.deliveryRegionCode" name="deliveryRegionCode" required nzShowSearch>
                <nz-option *ngFor="let option of regionoptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
        </se>
        <se label="{{ '是否有效' | translate}}" required>
            <nz-select nzShowSearch [(ngModel)]="i.enableFlag" name="enableFlag" required>
                <nz-option *ngFor="let option of yesnoOptions" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </se>
    </form>
</div>
<div class="modal-footer">
    <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="!f.valid || !f.dirty" [nzLoading]="http.loading">保存</button>
    <button nz-button type="button" (click)="close()">关闭</button>
</div>