<custom-formquery [queryParams]="queryParams" [context]="context" >
  <!-- <custom-button text="{{ '新增' | translate }}" [src]="'基础icon-新增'" (clickEvent)="add()"></custom-button> -->
  <!-- <custom-button text="{{ '删除' | translate }}" [src]="'基础icon-删除'" (clickEvent)="remove()"></custom-button> -->
  <!-- <custom-button text="{{ '导入' | translate }}" [src]="'基础icon-导入'" [loading]="optionsLoading" (clickEvent)="import()"></custom-button> -->
  <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
  <custom-button text="{{ '自动生成销售订单' | translate }}" [src]="'创建工单'" (clickEvent)="geneSaleContract()"></custom-button>
  <!-- <custom-button text="{{ '价格计算' | translate }}" [src]="'自动计算'" (clickEvent)="computePrice()"></custom-button> -->
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridState]="'hw-sales-order'"
    [myAgGridRowKey]="{tb:'PS_SALES_ORDER'}">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='销售订单' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <!-- 已审核状态下隐藏修改、删除、审核按钮 -->
  <div *ngIf="dataItem.salesOrderState !== '40'" style="display: inline;">
    <span title="编辑" (click)="add(dataItem)" style="cursor: Pointer">
      <i class="anticon anticon-edit"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
      (nzOnConfirm)="remove(dataItem);" class="pointer">
      <i class="anticon anticon-delete"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span title="{{ '审核' | translate}}" nz-popconfirm nzTitle="{{ '是否确认更新为已审核状态?' | translate}}"
      (nzOnConfirm)="examine(dataItem);" class="pointer">
      <i class="anticon anticon-check"></i>
    </span>
    <nz-divider nzType="vertical"></nz-divider>
  </div>
  <span title="{{ '明细' | translate}}" style="cursor: Pointer" (click)="showDetail(dataItem)">
    <i class="anticon anticon-bars"></i>
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span title="{{ '修改记录' | translate}}" style="cursor: Pointer" (click)="showChangeDetail(dataItem)">
    <img src="/assets/icons/operate-icons/history.svg" />
  </span>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="isCompute ? '价格计算' : '自动生成销售订单'" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <form #f="ngForm" se-container="1">
    <se label="{{ '工厂' | translate }}" required>
      <nz-select nzShowSearch name="plantCode" [(ngModel)]="plantCode" required>
        <nz-option *ngFor="let op of plantOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '产品大类' | translate }}" required>
      <nz-select nzShowSearch name="productCategory" [(ngModel)]="productCategory" required>
        <nz-option *ngFor="let op of productCategoryOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
  </form>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [disabled]="f.invalid" (click)="handleOk()" [nzLoading]="http.loading">确认</button>
  </ng-template>
</nz-modal>