<div class="modal-header">
  <div class="modal-title">{{ '退货单明细信息' | translate }}</div>
</div>
<custom-formquery [queryParams]="queryParams" [context]="context" >
  <!-- <custom-button text="{{ '新增' | translate }}" [src]="'基础icon-新增'" (clickEvent)="add()"></custom-button> -->
  <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight-200" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridState]="'hw-customer-return-detail'"
    [myAgGridRowKey]="{tb:'PS_RETURN_DETAILED'}">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize" [fixed]="false"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='退货单明细' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <div *ngIf="!dataItem.isBottomRowData">
    <div style="display: inline;" *ngIf="['10','50'].includes(dataItem.state) && !dataItem.returnFlag">
      <span title="{{ '编辑' | translate}}" (click)="add(dataItem)" style="cursor: Pointer">
        <i class="anticon anticon-edit"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
      <!-- <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
        (nzOnConfirm)="remove(dataItem);" class="pointer">
        <i class="anticon anticon-delete"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider> -->
    </div>
    <!-- <div *ngIf="dataItem.state === '10'" style="display: inline;">
      <span title="{{ '确认审核' | translate}}" nz-popconfirm nzTitle="{{ '是否确认更改该记录为已审核状态?' | translate}}"
        (nzOnConfirm)="confirm(dataItem);" class="pointer">
        <i class="anticon anticon-check"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
    </div> -->
    <span title="{{ '修改记录' | translate}}" style="cursor: Pointer" (click)="showChangeDetail(dataItem)">
      <img src="/assets/icons/operate-icons/history.svg" />
    </span>
  </div>
</ng-template>