<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="searchItems($event)"
  (event2)="regionChange($event)" (event3)="plantChange($event)">
  <span>
    <custom-button text="{{ '批量释放' | translate}}" (clickEvent)="ModifyBatch()" [src]="'批量释放'">
    </custom-button>
    <custom-button text="{{ '导入' | translate}}" (clickEvent)="import()" [src]="'基础icon-导入'" [loading]="optionsLoading">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridRowKey]="{tb:'SOP_NET_FORECAST'}" [myAgGridState]="'sopnetforecast'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]="expColumnsOptions" fileName='SOP预测管理' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
<span title="{{ '编辑' | translate}}" (click)="add(dataItem)" class="pointer">
                              <i class="anticon anticon-edit"></i>
                          </span>
<nz-divider nzType="vertical"></nz-divider>
<span title="{{ '冲减记录' | translate}}" (click)="record(dataItem)" class="pointer">
                          <i nz-icon nzType="plus-square" nzTheme="outline"></i>
                          </span>
</ng-template>
