<div class="modal-header">
  <div class="modal-title">{{ isModify ? '编辑信息' : '新增信息' }}</div>
</div>
<div style="position: relative; height: 32px" *ngIf="isModify">
  <button nz-button nzType="dashed" style="position: absolute; right: 0;" (click)="clear()">{{'重置' | translate}}</button>
</div>
<div>
  <!-- 
    1. 解除协议只可以编辑变更备注
    2. 变更协议、解除协议--变更备注必填
   -->
  <form nz-form #f="ngForm" se-container="2">
    <se label="{{ '合同模板' | translate }}" *ngIf="!isModify" required>
      <nz-select #select nzShowSearch name="fileId" [(ngModel)]="i.fileId" (ngModelChange)="attachChange($event)" required>
        <nz-option *ngFor="let op of attachInfoList" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '合同模板' | translate }}" *ngIf="isModify" required>
      <input nz-input type="text" disabled name="fileName" [(ngModel)]="i.fileName">
    </se>
    <se label="{{ '合同编码' | translate }}" required>
      <input nz-input type="text" disabled name="contractCode" [(ngModel)]="i.contractCode">
    </se>
    <se label="{{ '合同状态' | translate }}" required>
      <nz-select #select nzShowSearch name="contractState" [(ngModel)]="i.contractState" nzDisabled required>
        <nz-option *ngFor="let op of contractStateOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '合同类型' | translate }}" required>
      <nz-select #select nzShowSearch name="contractType" [nzDisabled]="verifyDisabled('contractType')" [(ngModel)]="i.contractType" required>
        <nz-option *ngFor="let op of contractTypeOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '规格' | translate }}" required>
      <input nz-input type="text" name="standards" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.standards" required>
    </se>
    <se label="{{ '所属合同' | translate }}">
      <input nz-input type="text" name="affiliatedContract" disabled [(ngModel)]="i.affiliatedContract">
      <!-- <popup-select #selMater1 [ID]="'selMater1'" [Value]="i.affiliatedContract" [ValueField]="'affiliatedContract'"
        [Text]="i.affiliatedContract" [TextField]="'affiliatedContract'" nzDisabled
        [gridView]="gridViewContracts" [columns]="columnsContracts" (TextChanged)="onPopupSelectTextChanged($event)"
        (SearchEvent)="searchContracts($event)" (RowSelect)="onRowSelectContracts($event)" (SelectTextChange)="OnSelectTextChange($event)">
      </popup-select> -->
    </se>
    <se label="{{ '客户编码' | translate }}" required>
      <popup-select [Value]="i.cusCode" [ValueField]="'cusCode'"
        [Text]="i.cusCode" [TextField]="'cusCode'" required [options]="customersOptions" [Disabled]="['40'].includes(i.contractType)"
        [gridView]="gridViewCustoms" [columns]="columnsCustoms" (TextChanged)="onPopupSelectTextChanged($event)"
        (SearchEvent)="searchCustoms($event)" (RowSelect)="onRowSelectCustoms($event)" (SelectTextChange)="OnSelectTextChange($event)">
      </popup-select>
    </se>
    <se label="{{ '签订日期' | translate }}" required>
      <nz-date-picker nzFormat="yyyy-MM-dd" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.signingDate" name="signingDate" (ngModelChange)="generateContractCode('signingDate')" required>
      </nz-date-picker>
    </se>
    <se label="{{ '合同所属月份' | translate }}" required>
      <nz-month-picker nzFormat="yyyy-MM" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.affiliatedMonth" name="affiliatedMonth" required>
      </nz-month-picker>
    </se>
    <se label="{{ '钢种' | translate }}" required>
      <nz-select #select nzShowSearch name="steelType" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.steelType" required>
        <nz-option *ngFor="let op of contractSteelTypeOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '表面' | translate }}" required>
      <nz-select #select nzShowSearch name="surface" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.surface" required>
        <nz-option *ngFor="let op of contractSurfaceOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '基价' | translate }}" required>
      <nz-input-number [(ngModel)]="i.basePrice" [nzDisabled]="['40'].includes(i.contractType)" [nzMin]="0" name="basePrice" (ngModelChange)="generateMoney()" required></nz-input-number>
    </se>
    <se label="{{ '数量（张）' | translate }}">
      <nz-input-number [(ngModel)]="i.quantity" [nzDisabled]="['40'].includes(i.contractType)" [nzMin]="0" name="quantity"></nz-input-number>
    </se>
    <se label="{{ '重量（吨）' | translate }}" required>
      <nz-input-number [(ngModel)]="i.weightTon" [nzDisabled]="['40'].includes(i.contractType)" [nzMin]="0.001" name="weightTon" (ngModelChange)="generateMoney()" required></nz-input-number>
    </se>
    <se label="{{ '金额' | translate }}">
      <nz-input-number [(ngModel)]="i.money" nzDisabled name="money"></nz-input-number>
    </se>
    <se label="{{ '锁价备注' | translate }}">
      <input nz-input type="text" name="remarks" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.remarks">
    </se>
    <se label="{{ '定金比例（%）' | translate }}" required>
      <nz-input-number [(ngModel)]="i.depositRatio" [nzDisabled]="['40'].includes(i.contractType)" name="depositRatio" (ngModelChange)="generateDeposit()" required></nz-input-number>
    </se>
    <se label="{{ '锁价定金' | translate }}">
      <nz-input-number [(ngModel)]="i.deposit" nzDisabled name="deposit"></nz-input-number>
    </se>
    <se label="{{ '供方' | translate }}" required>
      <nz-select #select nzShowSearch name="plantCode" nzDisabled [(ngModel)]="i.plantCode" (ngModelChange)="generateContractCode('plantCode')" required>
        <nz-option *ngFor="let op of plantOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '产品名称' | translate }}" required>
      <nz-select nzShowSearch name="prodName" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.prodName" required>
        <nz-option *ngFor="let op of prodNameOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '合同已分货量' | translate }}">
      <nz-input-number nzDisabled [(ngModel)]="i.quantityDj" name="quantityDj"></nz-input-number>
    </se>
    <se label="{{ '合同待分货量' | translate }}">
      <nz-input-number nzDisabled [(ngModel)]="i.quantitySy" name="quantitySy"></nz-input-number>
    </se>
    <se label="{{ '表面状态' | translate }}">
      <input nz-input type="text" name="surfaceState" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.surfaceState">
    </se>
    <se label="{{ '交货日期' | translate }}">
      <nz-date-picker nzFormat="yyyy-MM-dd" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.deliveryDate" name="deliveryDate">
      </nz-date-picker>
    </se>
    <se label="{{ '交货地点' | translate }}">
      <input nz-input type="text" name="deliveryPlace" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.deliveryPlace">
    </se>
    <se label="{{ '客户合同号' | translate }}">
      <input nz-input type="text" name="cusContractCode" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.cusContractCode">
    </se>
    <se label="{{ '签订地点' | translate }}">
      <input nz-input type="text" name="signPlace" [disabled]="['40'].includes(i.contractType)" [(ngModel)]="i.signPlace">
    </se>
    <se label="{{ '未税金额货款' | translate }}">
      <nz-input-number nzDisabled [(ngModel)]="i.amountWithoutTax" name="amountWithoutTax"></nz-input-number>
    </se>
    <se label="{{ '税额' | translate }}">
      <nz-input-number nzDisabled [(ngModel)]="i.taxAmount" name="taxAmount"></nz-input-number>
    </se>
    <!-- <se label="{{ '返利' | translate }}">
      <nz-input-number [(ngModel)]="i.rebate" name="rebate"></nz-input-number>
    </se> -->
    <se label="{{ '厚/薄料' | translate }}" required>
      <nz-select nzShowSearch name="material" [nzDisabled]="['40'].includes(i.contractType)" [(ngModel)]="i.material" nzAllowClear required>
        <nz-option *ngFor="let op of materialOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '变更备注' | translate }}" [required]="['20','40'].includes(i.contractType)">
      <input nz-input type="text" name="changeRemarks" [(ngModel)]="i.changeRemarks" [required]="['20','40'].includes(i.contractType)">
    </se>
    <se label="{{ '驳回原因' | translate }}" *ngIf="isModify">
      <input nz-input type="text" disabled="true" name="reason" [(ngModel)]="i.reason">
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">{{ '取消' | translate }}</button>
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f)" [nzLoading]="http.loading" [disabled]="verifySave(f)">{{'保存' | translate }}</button>
  <button nz-button type="submit" [nzType]="'primary'" (click)="submit(f)" [nzLoading]="http.loading" [disabled]="verifySubmit(f)">{{'生成合同并提交' | translate }}</button>
</div>
