<div class="modal-header">
  <div class="modal-title">{{'修改密码' | translate}}</div>
</div>
<div class="pwdBox">
  <form nz-form #f="ngForm" se-container passwordTwiceSame passwordFormat class="pwd-updated">
    <!--账号-->
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzRequired]="true">{{'账号' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="18">{{userName}}</nz-form-control>
    </nz-form-item>
    <!--旧密码-->
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzRequired]="true">{{'旧密码' | translate}}</nz-form-label>
      <nz-form-control
        nzHasFeedback
        [nzSpan]="18"
        [nzErrorTip]="oldPasswordTpl">
        <input
          type="password"
          nz-input
          [(ngModel)]="oldPassword"
          name="oldPassword"
          [ngModelOptions]="{updateOn: 'blur'}"
          checkPassword
          required
        />
        <ng-template #oldPasswordTpl let-control>
          <ng-container *ngIf="control.hasError('required')">不能为空</ng-container>
          <ng-container *ngIf="control.hasError('isRight')">旧密码输入不正确</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!--新密码-->
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzRequired]="true">{{'密码' | translate}}</nz-form-label>

      <!--旧的密码输入框-->
      <!-- <nz-form-control
        nzHasFeedback
        [nzSpan]="18"
        [nzValidateStatus]="pwd.dirty && (f.hasError('pwdFormat') || pwd.invalid) ? 'error': pwd.valid ? 'success': null"
        [nzErrorTip]="passwordTpl">
        <input
          type="password"
          nz-input
          minlength="6"
          maxlength="16"
          [(ngModel)]="password"
          name="password"
          #pwd="ngModel"
          (keyup)="safetyLevel()"
          required
        />
      </nz-form-control> -->
      <!--旧的密码输入框-->
      <!--新的密码输入框-->
      <nz-form-control
      nzHasFeedback
      [nzSpan]="18"
      [nzValidateStatus]="ruleJudge!=null && ruleJudge.code===999  ? 'error': pwd.valid ? 'success': null"
      [nzErrorTip]="passwordTpl">
      <input
        type="password"
        nz-input
        [(ngModel)]="password"
        name="password"
        #pwd="ngModel"
        (keyup)="safetyLevel()"
        (blur)="ruleCheckpassword()" 
        required
      />
    </nz-form-control>
<!--新的密码输入框-->
    </nz-form-item>
    <ng-template #passwordTpl let-control>
      <!--新的密码校验规则判断展示-->
      <ng-container *ngIf=" ruleJudge!=null && ruleJudge.code===999 ">{{ ruleJudge.msg}}</ng-container>
      <!--新的密码校验规则判断展示-->

      <!--旧的密码规则校验判断-->
      <!-- <ng-container *ngIf="pwd.hasError('required')">不能为空</ng-container>
      <ng-container *ngIf="pwd.hasError('minlength')">密码长度为6-16位字符</ng-container>
      <ng-container *ngIf="!pwd.hasError('required') && !pwd.hasError('minlength') && f.hasError('pwdFormat')">
        必须包含数字、字母、特殊字符(!<>%&_+空格除外)
      </ng-container> -->
      <!--旧的密码规则校验判断-->
    </ng-template>
    <!--确认密码-->
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzRequired]="true">{{'确认密码' | translate}}</nz-form-label>
      <nz-form-control
        nzHasFeedback
        [nzSpan]="18"
        minlength="6"
        maxlength="16"
        [nzValidateStatus]="cpwd.dirty && (f.hasError('passwordTwiceSame') || cpwd.invalid)  ? 'error': cpwd.valid ? 'success': null"
        [nzErrorTip]="confirmPasswordTpl">
        <input
          type="password"
          nz-input
          [(ngModel)]="confirmPassword"
          #cpwd="ngModel"
          name="confirmPassword"
          required
        />
        <ng-template #confirmPasswordTpl let-control>
          <ng-container *ngIf="cpwd.hasError('required')">不能为空</ng-container>
          <ng-container *ngIf="!cpwd.hasError('required') && f.hasError('passwordTwiceSame')">2次输入密码不相同</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!--安全等级-->
    <nz-form-item>
      <nz-form-label [nzSpan]="5">{{'安全等级' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-progress
          [nzPercent]="safePercent"
          [nzFormat]="safeTpl"
          [nzStrokeColor]="safeColor"
          nzSize="small"></nz-progress>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="18" [nzOffset]="5">
        <button nz-button [nzType]="'primary'" (click)="updatePassword()" [disabled]="f.invalid">{{'确定' | translate}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="pwd-describe">
    注意事项：
    <!--新的密码规则注意事项-->
    <ul>
      <li *ngFor="let item of ruleList; let i = index;">{{ i + 1 }}. {{ item.meaning }}</li>
    </ul>	 
    <!--新的密码规则注意事项-->
    <!--旧的密码规则注意事项-->
    <!-- <ul>
      <li>1. 长度为6-16位字符</li>
      <li>2. 不能包含空格</li>
      <li>3. 必须包含数字、字母、特殊字符(!<>%&_+除外)</li>
    </ul> -->
    <!--旧的密码规则注意事项-->
  </div>
</div>


