<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="plantChange($event)">
  <span>
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add({})" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '删除' | translate}}" (clickEvent)="removeBatch()" [src]="'基础icon-删除'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
    <custom-button text="{{ '导入' | translate}}" (clickEvent)="import()" [src]="'基础icon-导入'" [loading]="optionsLoading">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridRowKey]="{tb:'PS_STOP_PRODUCTION'}" [myAgGridState]="'schedule-stop-production'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='columns' [expColumnsOptions]='expColumnsOptions' fileName='资源定期停产' #excelexport>
  </custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <span title="{{ '适用属性组' | translate}}" (click)="detail(dataItem)" class="pointer">
    <i class="anticon anticon-bars"></i>
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span title="{{ '编辑' | translate}}" (click)="add(dataItem)" class="pointer">
    <i class="anticon anticon-edit"></i>
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
    (nzOnConfirm)="remove(dataItem);" class="pointer">
    <i class="anticon anticon-delete"></i>
  </span>
</ng-template>
