<custom-formquery [queryParams]="queryParams" [context]="context" (event2)="searchBatch($event)">
  <span>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid id="opDigitalGrid" [class]="themeClass" [style.height.px]="gridHeight"
    [getRowStyle]="getRowStyle" [rowData]="gridData" [columnDefs]="columns" [gridOptions]="gridOptions"
    (selectionChanged)="onSelectionChanged($event)" [myAgGridRowKey]="{tb:'SOP_DEMAND_RES_OCCUPY_DTL'}"
    [myAgGridState]="'sopdemandoccupyfinal'" (virtualColumnsChanged)="onVirtualColumnsChanged($event)"
    (cellValueChanged)="onCellValueChanged($event)">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' fileName='总装资源检视汇总' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
<span title="明细"  (click)="detailHandler(dataItem)" style="cursor: Pointer">
                          <i class="anticon anticon-bars"></i>
                        </span>
</ng-template>
