<custom-formquery [queryParams]="queryParams" [context]="context">
    <span>
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button>
    <!-- <custom-button text="{{ '删除' | translate}}" (clickEvent)="removeBatch()" [src]="'基础icon-删除'">
    </custom-button> -->
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
    <custom-button text="{{ '导入用户' | translate}}" (clickEvent)="imports()" [src]="'基础icon-导入'" [loading]="optionsLoading">
    </custom-button>
    <custom-button text="{{ '导入用户职责' | translate}}" (clickEvent)="userRespImports()" [src]="'基础icon-导入'" [loading]="optionsLoading">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
    <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData" [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)" [myAgGridRowKey]="{tb:'BASE_USERS'}" [myAgGridState]="'usermanager'">
    </ag-grid-angular>
    <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize" [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
    <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='用户' #excelexport>
    </custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
    <span title="{{ '编辑' | translate}}" (click)="add(dataItem)" class="pointer">
                            <i class="anticon anticon-edit"></i>
                          </span>
    <nz-divider nzType="vertical"></nz-divider>
    <!-- <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}" (nzOnConfirm)="remove(dataItem);" class="pointer">
                            <i class="anticon anticon-delete"></i>
                          </span>
    <nz-divider nzType="vertical"></nz-divider>-->
    <span title="{{ '分配职责' | translate}}" (click)="setting(dataItem)" class="pointer">
                            <i class="anticon anticon-setting"></i>
                          </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span title="{{ '初始化密码' | translate}}" (click)="initPassword(dataItem)" class="pointer">
                            <i class="anticon anticon-lock"></i>
                          </span>
</ng-template>
