<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="searchItems($event)" (event2)="rowSelect($event)">
    <span>
        <custom-button text="{{ '导出' | translate}}" (clickEvent)="exportFile()" [src]="'基础icon-导出'"></custom-button>
    </span>
</custom-formquery>
<nz-card>
    <ag-grid-angular
      #agGrid
      [class]="themeClass"
      [style.height.px]="gridHeight"
      [rowData]="gridData"
      [columnDefs]="columns"
      [gridOptions]="gridOptions"
      [myAgGridRowKey]="{tb:'INV_PLAN_DEMAND'}"
      [myAgGridState]="'inventoryDemand'">
    </ag-grid-angular>
    <custom-pager
        [height]="pagerHeight"
        [context]="context"
        [view]='context.view'
        [(pageSize)]="_pageSize"
        [(pageNo)]="_pageNo"
        (pageChangeEvent)="onPageChanged($event)">
    </custom-pager>
    <custom-excelexport
        [expColumns]="expColumns"
        [expColumnsOptions]="expColumnsOptions"
        fileName="库存计划需求"
        #excelExport>
    </custom-excelexport>
</nz-card>
