<div class="modal-header">
  <div class="modal-title">{{ '产线明细' | translate}}</div>
</div>
<custom-formquery [queryParams]="queryParams" [context]="context">
  <custom-button text="{{ '导出' | translate }}" [src]="'基础icon-导出'" (clickEvent)="export()"></custom-button>
</custom-formquery>
<ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
  [columnDefs]="columns" [gridOptions]="gridOptions" [myAgGridState]="'PsHwManufLineSpecDef'"
  [myAgGridRowKey]="{tb:' ps_hw_manuf_line_spec_def'}">
</ag-grid-angular>
<custom-pager [fixed]="false" [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
  [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
<custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='产线明细'
  #excelexport>
</custom-excelexport>
