<form nz-form #f="ngForm" se-container="2">
  <se label="{{ '税号' | translate }}">
    <input nz-input type="text" name="taxNum" [(ngModel)]="formData.taxNum" disabled />
  </se>
  <se label="{{ '客户编码' | translate }}">
    <input nz-input type="text" name="cusCode" [(ngModel)]="formData.cusCode" disabled />
  </se>
  <se label="{{ '客户名称' | translate }}">
    <input nz-input type="text" name="cusName" [(ngModel)]="formData.cusName" disabled />
  </se>
  <se label="{{ '客户简称' | translate }}">
    <input nz-input type="text" name="cusAbbreviation" [(ngModel)]="formData.cusAbbreviation" disabled />
  </se>
  <se label="{{ '所属客户' | translate }}">
    <input nz-input type="text" name="affiliatedCus" [(ngModel)]="formData.affiliatedCus" disabled />
  </se>
  <se label="{{ '联系人' | translate }}">
    <input nz-input type="text" name="contact" [(ngModel)]="formData.contact" disabled />
  </se>
  <se label="{{ '地区分类' | translate }}">
    <nz-select nzShowSearch name="region" [(ngModel)]="formData.region" nzDisabled>
      <nz-option *ngFor="let op of regionOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '地址' | translate }}">
    <input nz-input type="text" name="address" [(ngModel)]="formData.address" disabled />
  </se>
  <se label="{{ '联系电话' | translate }}">
    <input nz-input type="text" name="telNum" [(ngModel)]="formData.telNum" disabled />
  </se>
  <se label="{{ '开户银行' | translate }}">
    <input nz-input type="text" name="bank" [(ngModel)]="formData.bank" disabled />
  </se>
  <se label="{{ '银行账号' | translate }}" [error]="{ pattern: '请填写正确的银行账号' }">
    <input nz-input type="text" name="bankNum" [(ngModel)]="formData.bankNum" disabled />
  </se>
  <se label="{{ '银行档案' | translate }}">
    <input nz-input type="text" name="bankArchives" [(ngModel)]="formData.bankArchives" disabled />
  </se>
  <se label="{{ '是否国内' | translate }}">
    <nz-select nzShowSearch name="domestic" [(ngModel)]="formData.domestic" nzDisabled>
      <nz-option *ngFor="let op of domesticOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '币种' | translate }}">
    <nz-select nzShowSearch name="currency" [(ngModel)]="formData.currency" nzDisabled>
      <nz-option *ngFor="let op of currencyOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '驳回原因' | translate }}">
    <input nz-input type="text" name="reason" [(ngModel)]="formData.reason" disabled />
  </se>
  <se label="{{ '客户状态' | translate }}">
    <nz-select nzShowSearch name="cusState" [(ngModel)]="formData.cusState" nzDisabled>
      <nz-option *ngFor="let op of cusStateOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '所属公司' | translate }}">
    <nz-select #select nzShowSearch name="plantCode" [(ngModel)]="formData.plantCode" nzDisabled>
      <nz-option *ngFor="let op of plantOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <!-- 信用单位为其他客户时需要填写 -->
  <se label="{{ '信用单位' | translate }}">
    <input nz-input type="text" name="creditCus" [(ngModel)]="formData.creditCus" disabled />
  </se>
  <se label="{{ '客户等级' | translate }}">
    <nz-select nzShowSearch name="cusGrade" [(ngModel)]="formData.cusGrade" nzDisabled>
      <nz-option *ngFor="let op of cusGradeOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '客户类型' | translate }}">
    <nz-select nzShowSearch name="cusType" [(ngModel)]="formData.cusType" nzDisabled>
      <nz-option *ngFor="let op of cusTypeOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '客户初始额度' | translate }}">
    <nz-input-number name="initialCredit" [(ngModel)]="formData.initialCredit" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '信用额度' | translate }}">
    <nz-input-number name="credit" [(ngModel)]="formData.credit" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '占用额度' | translate }}">
    <nz-input-number name="zyQuota" [(ngModel)]="formData.zyQuota" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '临时信用额度' | translate }}">
    <nz-input-number name="temCredit" [(ngModel)]="formData.temCredit" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '账户余额' | translate }}">
    <nz-input-number name="balance" [(ngModel)]="formData.balance" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '业务员' | translate }}">
    <input nz-input type="text" name="salesman" [(ngModel)]="formData.salesman" disabled />
    <!-- <popup-select [(SelectValue)]="formData.salesman" [ValueField]="'personName'"
      [(SelectText)]="formData.salesman" [TextField]="'personName'" name="salesman"
      [gridView]="gridViewUsers" [columns]="columnsUsers" (TextChanged)="onUsersTextChanged($event)"
      (SearchEvent)="searchUsers($event)" (RowSelect)="onUsersSelect($event)">
    </popup-select> -->
  </se>
  <!-- 由业务员带出：部门编码+部门描述 -->
  <se label="{{ '业务员编码' | translate }}">
    <input nz-input type="text" name="salesmanCode" [(ngModel)]="formData.salesmanCode" disabled />
  </se>
  <se label="{{ '分管部门' | translate }}">
    <input nz-input type="text" name="department" [(ngModel)]="formData.department" disabled />
  </se>
  <se label="{{ '部门编码' | translate }}">
    <input nz-input type="text" name="departmentCode" [(ngModel)]="formData.departmentCode" disabled />
  </se>
  <se label="{{ '是否控制信用额度' | translate }}">
    <nz-select nzShowSearch name="creditControl" [(ngModel)]="formData.creditControl" nzDisabled>
      <nz-option *ngFor="let op of yesNoOptions" [nzValue]="op.value" [nzLabel]="op.label"></nz-option>
    </nz-select>
  </se>
  <se label="{{ '税率' | translate }}">
    <nz-input-number name="tax" [(ngModel)]="formData.tax" nzDisabled></nz-input-number>
  </se>
  <se label="{{ '停用时间' | translate }}">
    <input nz-input type="text" name="disableTime" [(ngModel)]="formData.disableTime" disabled />
  </se>
  <se *ngFor="let col of columns" label="{{ col.headerName | translate }}">
    <input nz-input type="text" [name]="col.field" [(ngModel)]="formData[col.field]" disabled />
  </se>
  <se label="{{ '变更原因' | translate }}">
    <textarea nz-input name="changeReason" [(ngModel)]="formData.changeReason" nzAutosize disabled></textarea>
  </se>
  <se label="{{ '附件信息' | translate }}">
    <common-upload #commonUpload [annexs]="fileList" [showUpload]="false" [Disabled]="true"></common-upload>
  </se>
</form>