<div class="modal-header">
  <div class="modal-title">{{ '提交特殊价格审批' | translate }}</div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2">
    <se label="{{ '钢种' | translate}}">
      <input nz-input [(ngModel)]="i.steelType" name="steelType" disabled />
    </se>
    <se label="{{ '规格尺寸' | translate}}">
        <input nz-input [(ngModel)]="i.steelStandart" name="steelStandart" disabled />
    </se>
    <se label="{{ '合同基价' | translate}}">
        <input nz-input [(ngModel)]="i.basePrice" name="basePrice" disabled />
    </se>
    <se label="{{ '销售订单号' | translate}}">
        <input nz-input [(ngModel)]="i.salesOrderCode" name="salesOrderCode" disabled />
    </se>
    <se label="{{ '合同号' | translate}}">
        <input nz-input [(ngModel)]="i.contractCode" name="contractCode" disabled />
    </se>
    <se label="{{ '系统加价' | translate}}">
      <input nz-input [(ngModel)]="i.markUp" name="markUp" disabled />
    </se>
    <se label="{{ '特殊加价' | translate}}">
        <input nz-input [(ngModel)]="i.specialMarkup" name="specialMarkup" disabled />
    </se>
    <se label="{{ '销售单价' | translate}}">
        <input nz-input [(ngModel)]="i.fixedPrice" name="fixedPrice" disabled />
    </se>
    <se label="{{ '提交原因（备注字段）' | translate}}" required>
        <input nz-input [(ngModel)]="i.specialPriceReason" name="specialPriceReason" />
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">{{ '取消' | translate }}</button>
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f.value)" [nzLoading]="http.loading" [disabled]="f.invalid || !f.dirty">{{'保存' | translate }}</button>
</div>
