<!-- 头部 -->
<div class="modal-header">
  <div class="modal-title">{{ (isModify?'编辑':'新增') | translate}}</div>
</div>
<div style="margin:2px auto;" *ngIf="isModify">
  <button style="float: right;" nz-button nzType="dashed" (click)="clear()">{{ '重置' | translate}}</button>
  <div style="clear: both;"></div>
</div>
<!-- 内容 -->
<div>
  <form nz-form #f="ngForm" se-container="2">
    <se label="{{ '工厂' | translate}}" required>
      <nz-select nzShowSearch [(ngModel)]="i.plantCode" [nzDisabled]="isModify" name="plantCode" required>
        <nz-option *ngFor="let option of plantOptions" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '产品编码' | translate }}" required>
      <popup-select [Value]="i.stockCode" [ValueField]="'stockCode'" [options]="stockOptions"
        [Text]="i.stockCode" [TextField]="'stockCode'" name="stockCode" required
        [gridView]="gridViewStocks" [columns]="columnsStocks" (TextChanged)="onStockTextChanged($event)"
        (SearchEvent)="searchStocks($event)" (RowSelect)="onStocksSelect($event)">
      </popup-select>
    </se>
    <se label="{{ '产品名称' | translate }}">
      <input nz-input type="text" disabled name="stockName" [(ngModel)]="i.stockName"/>
    </se>
    <!-- 原材料实时采购需求汇总 -->
    <ng-container *ngIf="type === 'count'">
      <se label="{{ '单位' | translate}}">
        <nz-select nzShowSearch [(ngModel)]="i.unitOfMeasure" name="unitOfMeasure" nzDisabled>
          <nz-option *ngFor="let option of unitOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </se>
      <se label="{{ '钢种' | translate}}" required>
        <nz-select nzShowSearch [(ngModel)]="i.steelType" name="steelType" required>
          <nz-option *ngFor="let option of steelTypeOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </se>
      <se label="{{ '表面' | translate}}" required>
        <nz-select nzShowSearch [(ngModel)]="i.surface" name="surface" required>
          <nz-option *ngFor="let option of surfaceOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </se>
      <se label="{{ '规格' | translate}}" required>
        <nz-input-number name="standards" [(ngModel)]="i.standards" required></nz-input-number>
      </se>
      <se label="{{ '宽度' | translate}}" required>
        <nz-input-number name="width" [(ngModel)]="i.width" required></nz-input-number>
      </se>
      <se label="{{ '长度' | translate}}" required>
        <nz-input-number name="length" [(ngModel)]="i.length" required></nz-input-number>
      </se>
      <se label="{{ '等级' | translate}}" required>
        <nz-select nzShowSearch [(ngModel)]="i.grade" name="grade" required>
          <nz-option *ngFor="let option of gradeOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </se>
      <se label="{{ '实际需求数量' | translate}}" required>
        <nz-input-number name="realRequirementQty" [(ngModel)]="i.realRequirementQty" required></nz-input-number>
      </se>
    </ng-container>
    <!-- 胶膜实时需求汇总 -->
    <ng-container *ngIf="type === 'coating'">
      <se label="{{ '产品描述' | translate }}">
        <input nz-input type="text" disabled name="stockDesc" [(ngModel)]="i.stockDesc"/>
      </se>
      <se label="{{ '规格' | translate }}">
        <input nz-input type="text" disabled name="standrads" [(ngModel)]="i.standrads"/>
      </se>
      <se label="{{ '胶膜分类' | translate }}">
        <input nz-input type="text" disabled name="catName" [(ngModel)]="i.catName"/>
      </se>
      <se label="{{ '单位重量' | translate }}">
        <input nz-input type="text" disabled name="unitWeight" [(ngModel)]="i.unitWeight"/>
      </se>
      <se label="{{ '订单需求米数' | translate}}" required>
        <nz-input-number name="requirementMeter" [(ngModel)]="i.requirementMeter" required></nz-input-number>
      </se>
    </ng-container>
    <se label="{{ '备注描述' | translate }}">
      <input nz-input type="text" name="comments" [(ngModel)]="i.comments"/>
    </se>
  </form>
</div>
<!-- 底部 -->
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f)"
    [disabled]="!f.valid || !f.dirty" [nzLoading]="http.loading">{{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">{{ '关闭' | translate}}</button>
</div>