<custom-formquery [queryParams]="queryParams" [context]="context">
  <span>
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add({})" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
    <custom-button text="{{ '工位证书' | translate}}" (clickEvent)="showCertificate()" [src]="'工单例外'">
    </custom-button>
    <custom-button text="{{ '工位技能' | translate}}" (clickEvent)="showSkill()" [src]="'工单例外'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridState]="'posts'" [myAgGridRowKey]="{tb:'PS_POSTS'}">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' fileName='工位信息' #excelexport>
  </custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <span title="编辑" (click)="add(dataItem)" style="cursor: Pointer">
    <i class="anticon anticon-edit"></i>
  </span>
</ng-template>
