<!-- 查询及头部按钮 -->
<custom-formquery [queryParams]="queryParams" [context]="context"
>
  <custom-button text="{{ '刷新版本号' | translate}}" (clickEvent)="refreshVersion()" [src]="'基础icon-刷新'"></custom-button>
  <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
  </custom-button>
</custom-formquery>
<nz-card>
  <!-- 表格 -->
  <ag-grid-angular
    #agGrid
    id=""
    [class]="themeClass"
    [style.height.px]="gridHeight"
    [rowData]="gridData"
    [columnDefs]="columns"
    [gridOptions]="gridOptions"
    [myAgGridState]="'unmatched-raw-inventory'"
    (filterChanged)="onFilterChanged($event)"
    [myAgGridRowKey]="{ tb:'ps_onhand_quantities' }"
  >
  </ag-grid-angular>
  <!-- 分页系统 -->
  <custom-pager
    [height]="pagerHeight"
    [context]="context"
    [view]="context.view"
    [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo"
    (pageChangeEvent)="onPageChanged($event)">
  </custom-pager>
  <!-- 导出功能组件 -->
  <custom-excelexport [expColumns]="expColumns" [expColumnsOptions]="expColumnsOptions" fileName="未匹配原料库存" #excelexport></custom-excelexport>
</nz-card>