<div class="modal-header">
  <div class="modal-title">{{'操作配置' | translate}}</div>
</div>
<div>
</div>
<div>
  <div class="inline left">
    <button nz-button nzType="primary" (click)="refreshLeft()">{{ '刷新' | translate}}</button>
    <button nz-button nzType="default" (click)="toRight()">{{ '选择' | translate}}</button>
    <ag-grid-angular #agGrid1 [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData1"
      [columnDefs]="columns1" (gridReady)="onGridReady1($event)" [gridOptions]="gridOptions" [pagination]="false"
      (selectionChanged)="onSelectionChanged1($event)">
    </ag-grid-angular>
  </div>
  <div class="inline right">
    <button nz-button nzType="default" (click)="clearAll()">{{ '清空' | translate}}</button>
    <button nz-button nzType="default" (click)="toLeft()">{{ '移除' | translate}}</button>
    <button nz-button nzType="primary" (click)="add()">{{ '新增' | translate}}</button>
    <button nz-button type="submit" [nzType]="'primary'" (click)="save()"
      [disabled]="this.gridData.length === 0">{{ '保存' | translate}}</button>
    <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
      [columnDefs]="columns" [gridOptions]="gridOptions" [pagination]="false"
      (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
  </div>
</div>