<div class="modal-header">
  <div class="modal-title">{{ (isModify?'编辑信息':'新增信息') | translate}} </div>
</div>
<div style="position: relative; height: 32px" *ngIf="i.id">
  <button nz-button nzType="dashed" style="position: absolute; right: 0;" (click)="clear()">重置</button>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=100>
    <se label="{{ '用户名' | translate}}" required>
      <input type="text" maxlength="20" nz-input [(ngModel)]="i.userName" name="userName" required>
    </se>
    <se label="{{ '真实姓名' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.description" name="description">
    </se>
    <se label="{{ '手机号' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.phoneNumber" name="phoneNumber">
    </se>
    <se label="{{ '邮箱地址' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.emailAddress" name="emailAddress">
    </se>
    <se label="{{ '部门' | translate}}">
      <input type="text" nz-input [(ngModel)]="i.department" name="department">
    </se>
    <se label="{{ '默认工厂' | translate}}" [required]="isModify">
      <nz-select nzShowSearch nzAllowClear [(ngModel)]="i.defaultPlantCode" name="defaultPlantCode" [required]="isModify">
        <nz-option *ngFor="let option of plantOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '绑定微信号' | translate}}">
      <span>{{i.nickname}}</span>
      <span *ngIf="i!==null && i.nickname !== null && i.nickname !== ''">&nbsp;&nbsp;</span><button nz-button
        [nzLoading]="wxUserUnbinding" (click)="unbindWXUser()"
        [disabled]="i===null || i.nickname === null || i.nickname === ''"
        nzType="primary">{{'解除绑定'|translate}}</button>
    </se>
    <se label="{{ '生效日期' | translate}}" required>
      <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="i.startDate" name="startDate" nzPlaceHolder="请选择日期" required>
      </nz-date-picker>
    </se>
    <se label="{{ '失效日期' | translate}}">
      <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="i.endDate" name="endDate" nzPlaceHolder="请选择日期">
      </nz-date-picker>
    </se>
    <se label="{{ '内外销' | translate}}">
      <nz-select nzShowSearch nzAllowClear [(ngModel)]="i.salesType" name="salesType">
        <nz-option *ngFor="let option of salesTypeOptions" [nzLabel]="option.Text" [nzValue]="option.Code"></nz-option>
      </nz-select>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f.value)" [disabled]="f.invalid || !f.dirty"
    [nzLoading]="http.loading">{{'保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">{{ '关闭' | translate}}</button>
</div>
