<div class="modal-header">
  <div class="modal-title">{{ (isModify?'编辑信息':'新增信息') | translate}} </div>
</div>
<div *ngIf="isModify" style=" margin:2px auto;">
  <button style="float: right;" nz-button nzType="dashed" (click)="clear()">
    {{ '重置' | translate}}</button>
  <div style="clear: both;"></div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=100>
    <se label="{{ '工厂' | translate}}" required>
      <nz-select nzShowSearch [(ngModel)]="i.plantCode" (ngModelChange)=" plantChange()" name="plantCode" [nzDisabled]="isModify"
        required>
        <nz-option *ngFor="let option of plantOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </se>
    <se label="{{ '物料编码' | translate}}" required>
      <popup-select #selMater1 [(SelectValue)]="i.itemId" [(SelectText)]='i.itemCode' [ValueField]="'itemId'" [TextField]="'itemCode'"
        [gridView]="gridView1" [columns]="columns1" (SearchEvent)="search1($event)" (TextChanged)="change1($event)" [Disabled]="isModify"
        required>
      </popup-select>
    </se>
    <se label="{{ '类别集' | translate}}" required>
      <nz-select nzShowSearch [(ngModel)]="i.categorySetCode" (ngModelChange)=" categorySetChange()" name="categorySetCode"
        [nzDisabled]="isModify" required>
        <nz-option *ngFor="let option of categorySetOptions" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '类别' | translate}}" required>
      <nz-select nzShowSearch [(ngModel)]="i.categoryCode" name="categoryCode" [nzServerSearch]="true"
        (nzOnSearch)="categoriesSearch($event)" required>
        <nz-option *ngFor="let option of categoryOptions" [nzLabel]="option.label" [nzValue]="option.value" required>
        </nz-option>
      </nz-select>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save(f)" [disabled]="f.invalid||!i.itemId || !f.dirty" [nzLoading]="http.loading">{{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">{{ '关闭' | translate}}</button>
</div>