<custom-formquery [queryParams]="queryParams" [context]="context" (event1)="plantChange($event)">
  <span>
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '删除' | translate}}" (clickEvent)="RemoveBatch()" [src]="'基础icon-删除'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridRowKey]="{tb:'SOP_RESOURCE_DIVISION'}" [myAgGridState]="'sopdimmainresreview'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' fileName='资源检讨维度维护' #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
<span title="{{ '编辑' | translate}}" (click)="add(dataItem)" class="pointer">
                              <i class="anticon anticon-edit"></i>
                          </span>
<nz-divider nzType="vertical"></nz-divider>
<span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}" (nzOnConfirm)="remove(dataItem);"
      class="pointer">
                              <i class="anticon anticon-delete"></i>
                          </span>
</ng-template>
