<div class="modal-header">
  <div class="modal-title">{{ (IsUpdate?'编辑信息':'新增信息') | translate}}</div>
</div>
<div *ngIf="IsUpdate" style=" margin:2px auto;">
  <button style="float: right;" nz-button nzType="dashed" (click)="clear()">{{ '重置' | translate}}</button>
  <div style="clear: both;"></div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=140>
    <se label="{{ '事业部' | translate}}" required>
      <nz-select #select [(ngModel)]="saveData.scheduleRegionCode" nzShowSearch (ngModelChange)="onScheduleRegionChange($event)"
        name="scheduleRegionCode" [disabled]="IsUpdate" required>
        <nz-option *ngFor="let o of listScheduleRegion" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '工厂' | translate}}" required>
      <nz-select #select [(ngModel)]="saveData.plantCode" nzShowSearch (ngModelChange)="onPlantChange($event)" name="plantCode"
        [disabled]="IsUpdate" required>
        <nz-option *ngFor="let o of listPlant" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '值类别' | translate}}" required>
      <nz-select #select [(ngModel)]="saveData.category" nzShowSearch name="category" (ngModelChange)="onCategoryChange($event)"
        [disabled]="IsUpdate" required>
        <nz-option *ngFor="let o of listDataType" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '类别值' | translate}}">
      <popup-select #selMater1 [ID]="'selMater1'" [Value]="saveData.categoryValues" [Text]='saveData.categoryValues' [ValueField]="'categoryValues'"
        [TextField]="'categoryValues'" [Disabled]="IsUpdate" [gridView]="gridViewItems" [columns]="columnsItems" (TextChanged)="onTextChanged($event)"
        (SearchEvent)="searchItems($event)" (RowSelect)="onRowSelect($event)">
      </popup-select>
    </se>
    <se label="{{ '供应子库' | translate}}" required>
      <nz-select #select [(ngModel)]="saveData.supplySubinventory" nzShowSearch name="supplySubinventory" required>
        <nz-option *ngFor="let o of listSubinventories" [nzValue]="o.value" [nzLabel]="o.label">
        </nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '供应类型' | translate}}" required>
      <nz-select #select [(ngModel)]="saveData.supplyType" nzShowSearch name="supplyType" required>
        <nz-option *ngFor="let o of listSupplyType" [nzValue]="o.value" [nzLabel]="o.label">
        </nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="f.invalid || !f.dirty" [nzLoading]="http.loading">
    {{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">    {{ '关闭' | translate}}</button>
</div>
