<custom-formquery [queryParams]="queryParams" [enableWBSetting]="false" [showExpandIcon]="false" [context]="context">
  <span>  
    <button nz-button nzType="default" (click)="export()"><i nz-icon [nzType]="'export'" theme="outline"></i>导出</button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData" [columnDefs]="columns"
    [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)" [myAgGridRowKey]="{tb:'PP_SERIAL_NUMBERS'}"
    [myAgGridState]="'itemonhandchild'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]='context.view' [fixed]="false" [(pageSize)]="_pageSize" [(pageNo)]="_pageNo"
    (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='序列号明细' #excelexport>
  </custom-excelexport>
</nz-card>
