<custom-formquery [queryParams]="queryParams" [context]="context">
  <span>
    <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'">
    </custom-button>
    <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
    </custom-button>
  </span>
</custom-formquery>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData"
    [columnDefs]="columns22" [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)"
    [myAgGridRowKey]="{tb:'REQUEST_SETS'}" [myAgGridState]="'REQUEST_SETS'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [view]="context.view" [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo" (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName="Requeset_Sets"
    #excelexport></custom-excelexport>
</nz-card>

<ng-template #customTemplate let-dataItem>
  <span title="{{ '编辑' | translate}}" (click)="edit(dataItem)" class="pointer">
    <i class="anticon anticon-edit"></i>
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span title="{{ '定义阶段' | translate}}" (click)="defineStage(dataItem)" class="pointer">
    <i class="anticon anticon-plus"></i>
  </span>
  <nz-divider nzType="vertical"></nz-divider>
  <span title="{{ '链接阶段' | translate}}" (click)="linkStage(dataItem)" class="pointer">
    <i class="anticon anticon-link"></i>
  </span>
</ng-template>
