<div class="div_title">
  <button nz-button (click)="export()">
    <i class="anticon anticon-export"></i> {{ '导出' | translate}}
  </button>
</div>
<nz-card>
  <ag-grid-angular #agGrid [class]="themeClass" [style.height.px]="gridHeight" [rowData]="gridData" [columnDefs]="columns"
    [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)" [myAgGridRowKey]="{tb:'PC_KIT_AUTO_CALCULATE'}"
    [myAgGridState]="'query-kitstatus-item-detailed'">
  </ag-grid-angular>
  <custom-pager [height]="pagerHeight" [context]="context" [fixed]="false" [view]='context.view' [(pageSize)]="_pageSize" [(pageNo)]="_pageNo"
    (pageChangeEvent)="onPageChanged($event)"></custom-pager>
  <custom-excelexport [expColumns]='expColumns' [expColumnsOptions]='expColumnsOptions' fileName='物料明细' #excelexport></custom-excelexport>
</nz-card>