<!-- 查询及头部按钮 -->
<custom-formquery [queryParams]="queryParams" [context]="context">
  <custom-button text="{{ '实时需求计算' | translate}}" (clickEvent)="compute()" [src]="'例外计算'"></custom-button>
  <custom-button text="{{ '刷新版本号' | translate}}" (clickEvent)="refreshVersion()" [src]="'基础icon-刷新'"></custom-button>
  <custom-button text="{{ '新增' | translate}}" (clickEvent)="add()" [src]="'基础icon-新增'"></custom-button>
  <custom-button text="{{ '推送SRM' | translate }}" [src]="'发布'" (clickEvent)="pushToSrm()"></custom-button>
  <custom-button text="{{ '导出' | translate}}" (clickEvent)="export()" [src]="'基础icon-导出'">
  </custom-button>
</custom-formquery>
<nz-card>
  <!-- 表格 -->
  <ag-grid-angular
    #agGrid
    id="demandCountGrid"
    [class]="themeClass"
    [style.height.px]="gridHeight"
    [rowData]="gridData"
    [columnDefs]="columns"
    [gridOptions]="gridOptions"
    [myAgGridState]="property[type].myAgGridState"
    [myAgGridRowKey]="{ tb:'PS_REAL_PURCHASE_DEMAND' }"
    (cellValueChanged)="onCellValueChanged($event)"
    (virtualColumnsChanged)="onVirtualColumnsChanged($event)"
    (filterChanged)="onFilterChanged($event)"
  >
  </ag-grid-angular>
  <!-- 分页系统 -->
  <custom-pager
    [height]="pagerHeight"
    [context]="context"
    [view]="context.view"
    [(pageSize)]="_pageSize"
    [(pageNo)]="_pageNo"
    (pageChangeEvent)="onPageChanged($event)">
  </custom-pager>
  <!-- 导出功能组件 -->
  <custom-excelexport [expColumns]="expColumns" [expColumnsOptions]='expColumnsOptions' [fileName]="property[type].exportFileName" #excelexport></custom-excelexport>
</nz-card>
<ng-template #customTemplate let-dataItem>
  <ng-container *ngIf="isEditable(dataItem)">
    <ng-container *ngIf="type === 'count'">
      <span title="{{ '编辑' | translate}}" (click)="add(dataItem)" style="cursor: Pointer">
        <i class="anticon anticon-edit"></i>
      </span>
      <nz-divider nzType="vertical"></nz-divider>
    </ng-container>
    <span title="{{ '删除' | translate}}" nz-popconfirm nzTitle="{{ '是否确认删除该记录?' | translate}}"
      (nzOnConfirm)="remove(dataItem);" class="pointer">
      <i class="anticon anticon-delete"></i>
    </span>
  </ng-container>
</ng-template>