<div class="modal-header">
  <div class="modal-title">{{ (Istrue?'编辑信息':'新增信息') | translate}} {{ record.id }}</div>
</div>
<div *ngIf="Istrue" style=" margin:2px auto;">
  <button style="float: right;" nz-button nzType="dashed" (click)="clear()">
    {{ '重置' | translate}}</button>
  <div style="clear: both;"></div>
</div>
<div>
  <form nz-form #f="ngForm" se-container="2" [labelWidth]=140>
    
    <se label="{{ '原料编码' | translate}}" required>
      <popup-select #selStock2 name="rawStockCode" [ID]="'selStock2'" [Value]="i.rawStockCode" [Text]='i.rawStockCode' [ValueField]="'rawStockCode'" [TextField]="'rawStockName'"
        [readOnly]="disabled1" [Disabled]="disabled1" [gridView]="gridViewStocks2" [columns]="columnsStock2" (TextChanged)="onTextChanged2($event)"
        (SearchEvent)="searchPsProduction2($event)" (RowSelect)="onRowSelect2($event)">
      </popup-select>
    </se>
    <se label="{{ '原料名称' | translate}}" required>
      <input type="text" nz-input [(ngModel)]="i.rawStockName" name="rawStockName" readonly="true">
    </se>

    <se label="{{ '原料规格' | translate}}" required *ngIf="standardsSameFlag==='0'">
      <nz-input-number [(ngModel)]="i.rawStandards" [nzFormatter]="formatterPrecision" name="rawStandards" required></nz-input-number>
    </se>
    <se label="{{ '原料宽' | translate}}" required>
      <nz-input-number [(ngModel)]="i.width" name="width" required></nz-input-number>
    </se>    
    <se label="{{ '原料长' | translate}}" [required]="isBancai">
      <nz-input-number [(ngModel)]="i.length" name="length" [required]="isBancai"></nz-input-number>
    </se>   
    <se label="{{ '原料表面' | translate}}" required>
      <nz-select #select [(ngModel)]="i.rawSurface" nzShowSearch name="rawSurface" required>
        <nz-option *ngFor="let o of rawSurfaceOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>

    <se label="{{ '表面等级' | translate}}" required>
      <nz-select #select [(ngModel)]="i.surfaceGrade" nzShowSearch name="surfaceGrade" required>
        <nz-option *ngFor="let o of gradeLevelOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se>
    <se label="{{ '产地' | translate}}" >
      <input type="text" nz-input [(ngModel)]="i.productionPlace" name="productionPlace">
    </se>
    <!-- <se label="{{ '启用状态' | translate}}" required>
      <nz-select #select [(ngModel)]="i.enableFlag" nzShowSearch name="enableFlag" required>
        <nz-option *ngFor="let o of yesOrNoOptions" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
    </se> -->
  </form>
</div>
<div class="modal-footer">
  <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="f.invalid || !f.dirty" [nzLoading]="http.loading">
    {{ '保存' | translate}}</button>
  <button nz-button type="button" (click)="close()">
    {{ '关闭' | translate}}</button>
</div>
