<div class="{{ nzWrapClassName }}">
  <div *ngIf="mask"
    class="flexible-modal-mask"
    [ngClass]="maskAnimationClassMap"
    [class.ant-modal-mask-hidden]="hidden"
    [ngStyle]="nzMaskStyle"
  ></div>
  <div
    #modalContainer
    apsFlexibleSize
    [disabled]="!flexible"
    [dragHandles]="[modalHeader]"
    [style.width]="nzWidth | nzToCssUnit"
    class="flexible-modal">
    <div class="flexible-modal-header" #modalHeader>
      <button *ngIf="nzClosable" (click)="onClickCloseBtn()" class="ant-modal-close" aria-label="Close">
        <span class="ant-modal-close-x">
          <ng-container *nzStringTemplateOutlet="nzCloseIcon">
            <i nz-icon [nzType]="nzCloseIcon" class="ant-modal-close-icon"></i>
          </ng-container>
        </span>
      </button>
      <div class="flexible-modal-title">
        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="isTemplateRef(nzTitle)" [ngTemplateOutlet]="nzTitle"></ng-container>
          <ng-container *ngSwitchCase="isNonEmptyString(nzTitle)"><div [innerHTML]="nzTitle"></div></ng-container>
        </ng-container>
      </div>
    </div>
    <div class="flexible-modal-body" >
      <ng-container #bodyContainer>
        <ng-container *ngIf="!isComponent(nzContent)" [ngSwitch]="true">
          <ng-container *ngSwitchCase="isTemplateRef(nzContent)" [ngTemplateOutlet]="nzContent"></ng-container>
          <ng-container *ngSwitchCase="isNonEmptyString(nzContent)"><div [innerHTML]="nzContent"></div></ng-container>
          <ng-container *ngSwitchDefault [ngTemplateOutlet]="tplOriginContent"></ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div
      class="flexible-modal-footer"
      *ngIf="nzFooter !== null">
      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="isTemplateRef(nzFooter)" [ngTemplateOutlet]="nzFooter"></ng-container>
        <ng-container *ngSwitchCase="isNonEmptyString(nzFooter)"><div [innerHTML]="nzFooter"></div></ng-container>
        <ng-container *ngSwitchCase="isModalButtons(nzFooter)">
          <button *ngFor="let button of nzFooter" nz-button
            (click)="onButtonClick(button)"
            [hidden]="!getButtonCallableProp(button, 'show')"
            [nzLoading]="getButtonCallableProp(button, 'loading')"
            [disabled]="getButtonCallableProp(button, 'disabled')"
            [nzType]="button.type"
            [nzShape]="button.shape"
            [nzSize]="button.size"
            [nzGhost]="button.ghost"
          >{{ button.label }}</button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <button *ngIf="nzCancelText!==null" nz-button (click)="onClickOkCancel('cancel')" [nzLoading]="nzCancelLoading" [disabled]="nzCancelDisabled">
            {{ cancelText }}
          </button>
          <button *ngIf="nzOkText!==null" nz-button [nzType]="nzOkType" (click)="onClickOkCancel('ok')" [nzLoading]="nzOkLoading" [disabled]="nzOkDisabled">
            {{ okText }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
